<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
    </script>
</head>
<body>
    Join us now!  <br/>
    <br/>
    <br/>
    <form method = "post" action = "/join">
        ID : <input type="text" class="user_id" name = "user_id" value=""><br/>
        PW : <input type="password" name="user_pw"><br/>
        NAME : <input type="text" name="user_name"><br/>
        email : <input type="text" name="user_mail"><br/>
        <br/>
        <input type="submit" value="JOIN"><br/>
    </form>
</body>
</html>